<% provide(:title, "Home") %>


<% if current_user %>

  <div class="jumbotron" style="background-color: #2a4b51">
    <div  class="jumbotron" style="background-color: whitesmoke">
      <table class="table table-hover">
        <tbody>
        <tr>
          <td><%= link_to "Cash Boxes", cashboxes_path,style:'color:red' %></td>
          <td><%= @cahbox_text %> </td>
        </tr>
        <tr>
          <td>  <%= link_to "Cash transactions", transactions_path ,style:'color:red'%>
          </td>
          <td><%= @trans_text %> </td>
        </tbody>
      </table>
    </div>
  </div>


<% else %>
  <div class="center jumbotron" style="background-color: darkcyan;color: white">
      - The Petty-Cash application is the system of record for the management of cash withdrawn from house bank accounts or cash gifts given to
      the household. <br>
      - Users must have access to the application. <br>
      - Access can be requested via the Home Intelligence Application.  On the registration page. <br>
      - Unauthorised access can lead to criminal prosecution at the courts of law.
  </div>

<% end %>