<footer class="footer">
  <small>
    Petty Cash System of Record 2019
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home intelligence", 'http://h-intelligence.herga.net:3000' %></li>
      <li><%= link_to "CF-Analyser", 'http://cf-analyser.herga.net:3000' %></li>
      <li><a href="http://dlibrary.herga.net">DLibrary</a></li>
    </ul>
  </nav>
</footer>